*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.clear_fix{
    clear: both;
}

a{
    text-decoration: none;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

/*-- top start --*/
#top{
    width: 100%;
    height: 40px;
    background-color: #ff1e1e;
    padding-top: 10px;
    color:#f5f5f5;
}

#top .item_one{
    width: 10%;
    float: left;
    font-size: 20px;
    text-align: center;
}

#top .item_two{
    width: 90%;
    float: left;
}
/*-- top end --*/

/*-- header start --*/

#header {
    height: 150px;
    padding-top: 20px;
}

#header .profile{
    width: 40%;
    float: left;
}

#header .profile img{
    width: 50%;
    height: 50%;
}

#header .text{
    width: 60%;
    float: left;
    margin-top: 20px;
}

#header .text .info{
    padding-left: 30px;
    float: left;
}

#header .text .info .img{
    float: left;
    text-align: center;
    margin-right: 15px;
}

#header .text .info img{
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    line-height: 40px;
}


#header .text .info .detail{
    float: left;
    text-align: center;
}

#header .text .info .detail p{
    line-height: 22px;
}

/*-- header end --*/

/*-- Navbar start --*/

#navbar{
    background-color: #f5f5f5;
    text-transform: uppercase;
    text-align: center;

}

#navbar ul li{
    list-style-type: none;
    display: inline-block;
}

#navbar ul li:hover > a{
    color: #ff1e1e;
}

#navbar ul li a{
    display: inline-block;
    color: #000;
    
    padding: 25px 25px;
    font-size: 15px;
    font-weight: bold;
    transition: all linear .4s;
}
/*-- Navbar end --*/

/*-- slider start --*/
#slider img{
    width: 100%;
    height: 100%;
}
/*-- slider end --*/

/*-- add start --*/
#ad{
    text-align: center;
}

#ad .ad_item{
    width: 25%;
    float: left;
    background-color: #ddd;
    border-left: 1px solid red;
    transition: all linear 0.5s;
    border-bottom: 3px solid transparent;
}

#ad .ad_item:hover{
    color: red;
    border-bottom: 3px solid red;
}

#ad .ad_item:first-child{
    border-left: 1px solid transparent;
}

#ad .ad_item img{
    padding: 20px 0;
}

#ad .ad_item h3{
    margin-bottom: 15px;
}

/*-- add end --*/

/*-- it start --*/
#it{
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}

#it h1{
    padding-top:22px;
    margin: 25px 0;
    text-align: center;
    font-size: 35px;
}

#it p{
    font-size: 20px;
    text-align: justify;
    padding: 20px 0;
    line-height: 34px;
}
/*-- it end --*/

/*-- about start --*/
#about{
    width:100%;
    height: 100%;
    padding-top: 50px;
}

#about .about_img{
    width: 50%;
    float: left;
}

#about .about_img img{
    width: 100%;
    height: 100%;
}

#about .about_text{
    width: 50%;
    float: left;
    padding: 15px;
}

#about .about_text h3{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #5b6b80;
}

#about .about_text p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #777;
    padding-top: 10px;
}


/*-- about end --*/

/*-- seminars start --*/
#seminars{
    padding-top: 20px;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    text-align: center;
}

#seminars h3{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 18px;
}

#seminars .table_list{
    width: 100%;
    height: 100%;
}

#seminars .table_list table{
    width: 100%;
    height: 200px;
    text-align: center;
}

#seminars .table_list table thead tr th{
    background-color: #49596d;
    padding: 15px 0;
    color: #fff;
    font-size: 23px;
}

/*-- seminars end --*/

/*-- courses start --*/
#courses{
    width: 100%;
    height: 100%;
    margin-top: 40px;
}

#courses h3{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}

#courses h6{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 18px;
}

#courses .course_plan{
    width: 100%;
    height: 100%;
}

#courses .course_plan .course_item{
    width: 50%;
    height: auto;
    float: left;
    padding: 10px;
}

#courses .course_plan .course_item .course_text{
    width: 60%;
    height: auto;
    float: left;
    padding-top: 15px;
}

#courses .course_plan .course_item .course_text h4{
    font-size: 22px;
    font-weight: bold;
}

#courses .course_plan .course_item .course_text p{
    font-size: 18px;
    padding: 20px 10px 0 0;
    text-align: justify;
    font-style: italic;
    line-height: 30px;
}

#courses .course_plan .course_item .course_text a{
    margin-top: 30px;
    display: inline-block;
    padding: 15px;
    background-color: red;
    border-radius: 20px;
    color: aliceblue;
}

#courses .course_plan .course_item .course_img{
    width: 40%;
    height: auto;
    float: left;
}

#courses .course_plan .course_item .course_img img{
    width: 100%;
    height: 100%;
}
/*-- courses end --*/

/*-- Gallery start --*/
#gallery{
    margin-top: 30px;
    width: 100%;
    height: 100%;
}

#gallery h3{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}

#gallery h6{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

#gallery .gallery_group{
    width: 100%;
    height: 100%;
}

#gallery .gallery_group .gallery_item{
    width: calc(100% / 3);
    padding: 5px 10px;
    float: left;
}

#gallery .gallery_group .gallery_item img{
    width: 100%;
    height: 200px;
}
/*-- Gallery end --*/

/*-- contact start --*/
#contact{
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

#contact h3{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}

#contact h6{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

#contact .contact_form{
    width: 100%;
    height: 100%;
    padding-top: 30px;
}

#contact .contact_form form{
    width: 100%;
    height: 100%;
}

#contact .contact_form form table{
    width: 100%;
    height: 100%;
}

#contact .contact_form form table tr td{
    padding-top: 10px;
    padding-right: 10px;
}

#contact .contact_form form table tr td input{
    width: 100%;
    height: 50px;
}

#contact .contact_form form table tr td textarea{
    width: 100%;
    height: 80px;
}

#contact .contact_form form table tr td button{
    background-color: #49596d;
    width: 80px;
    height: 40px;
    color: #ddd;
    border: none;
    font-size: 20px;
}
/*-- contact end --*/

/*-- fotter start --*/
#footer{
    width: 100%;
    height: 100%;
    padding: 30px;
    text-align: center;
}

#footer .footer_text{
    width: 100%;
    height: 100%;
}

#footer .footer_text .footer_item{
    width: calc(100% / 3);
    padding-right: 10px;
    float: left;
}

#footer .footer_text .footer_item h3{
    font-size: 30px;
}

#footer .footer_text .footer_item p{
    font-size: 20px;
    padding-top: 10px;
    font-weight: 600;
}

#footer .footer_text .footer_item pre{
    font-size: 16px;
    padding-top: 8px;
    line-height: 25px;
}
/*-- fotter end --*/

/*-- last start --*/
#last{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #f5f5f5;
}

#last p{
    padding: 20px 0;
    font-size: 20px;
}
/*-- last end --*/